<form [formGroup]="form" (ngSubmit)="login()">
    <div class="form-group">
        <label for="oldpassword">Old Password</label>
        <input 
            formControlName="oldpassword"
            id="oldpassword" 
            type="password" 
            class="form-control">
            <div *ngIf="oldpassword.pending">Checking password...</div>
            <div *ngIf="oldpassword.touched && oldpassword.invalid" class="aler alert-danger">
                <div *ngIf="oldpassword.errors.required">Old Password is required</div>
                <div *ngIf="oldpassword.errors.invalidOldPassword">Old Password is not valid.</div>
            </div>
    </div>
    <div formGroupName="newPasswordGroup">
        <div class="form-group">
            <label for="newpassword">New Password</label>
            <input 
               formControlName="newpassword"
               id="newpassword" 
               type="password" 
               class="form-control">
            <div *ngIf="newpassword.touched && newpassword.invalid" class="aler alert-danger">New Password is required</div>
        </div>
        <div class="form-group">
                <label for="confirmnewpassword">Confirm New Password</label>
                <input 
                   formControlName="confirmnewpassword"
                   id="confirmnewpassword" 
                   type="password" 
                   class="form-control"> 
                <div *ngIf="confirmnewpassword.touched && confirmnewpassword.invalid" class="aler alert-danger">
                    <div *ngIf="confirmnewpassword.errors.required">Confirm new password is required.</div>
                </div>
                <div *ngIf="confirmnewpassword.valid && form.invalid && form.errors.passwordsMatch" class="alert alert-danger">
                    Passwords do not match.
                </div>
            </div>
        
    </div>
    <button class="btn btn-primary" type="submit">Change Password</button>
</form>